{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}college search{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section>
        <div class="container">
            {% include "_messages.html" %}
        </div>
    </section>
    <section>
        <div class="container">
			<div class="row pull-left">
				<div class="form-inline">
						<form action="{% url 'college_search' %}" method="POST">
							{% csrf_token %}
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="search" id="search" placeholder="Enter name or nickname"/>
							  <button type="submit" class="btn btn-primary">Search</button>
						</form>
				</div>
			</div>
		</div>
    </section>

    <section>
        <div class="container">
			{%if search_results %}
			<div class="row">
				<table class="table table-striped">
				<thead>
					<th>School</th>
					<th>Team</th>
					<th>Conference</th>
					<th>Division</th>
					<th>City, State</th>
					<th>Actions</th>
				</thead>
				<tbody>
					{% for college in search_results %}
						<tr>
						<td>{{ college.school }}</td>
						<td>{{ college.team }}</td>
						<td>{{ college.conference }}</td>
						<td>{{ college.division }}</td>
						<td>{{ college.city}}, {{college.state_abbr}}</td>
						<td><a href="{% url 'college_detail' college.school.split|join:"_" %}" type="button" class="btn btn-sm btn-gray">More</button>
						</tr>
					{% endfor %}
				<tbody>
				</table>
			</div>
			{% endif %}
        </div>
    </section>
{% endblock %}
