{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}coaches search{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section>
        <div class="container">
            {% include "_messages.html" %}
        </div>
    </section>
	<section>
		<div class="container">
			<div class="row">
			<h2>Coach Search</h2>
			<p>Enter a college or coach name to search by</p>
			</div>
		</div>
	</section>
    <section>
        <div class="container">
			<div class="row pull-left">
				<div class="form-inline">
						<form action="{% url 'coach_search'%}" method="POST">
							{% csrf_token %}
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="search" id="search" placeholder="Enter name or school"/>
							  <button type="submit" class="btn btn-primary">Search</button>
						</form>
				</div>
			</div>
		</div>
    </section>

    <section>
        <div class="container">
			{%if search_results %}
			<div class="row">
				<table class="table table-striped">
				<thead>
					<th>Name</th>
					<th>Role</th>
					<th>School</th>
					<th>Division</th>
					<th>Email</th>
					<th>Phone</th>
				</thead>
				<tbody>
					{% for coach in search_results %}
						<tr>
								<td>{{ coach.name}}</td>
								<td>{{ coach.role}}</td>
								<td>{{ coach.school }}</td>
								<td>{{ coach.division }}</td>
								<td>{{ coach.email}}</td>
								<td>{{ coach.phone}}</td>
						</tr>
					{% endfor %}
				<tbody>
				</table>
			</div>
			{% endif %}
        </div>
    </section>
{% endblock %}
