{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}college search{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section>
        <div class="container">
            {% include "_messages.html" %}
        </div>
    </section>
    <section>
        <div class="container">
		<div class="row pull-left">
				<div class="form-inline">
						<form>
							{% csrf_token %}
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="search" id="search" placeholder="Enter name or nickname"/>
							  <button type="submit" class="btn btn-primary">Search</button>
						</form>
				</div>
			</div>
		</div>
    </section>
    <section>
        <div class="container">
        </div>
    </section>
{% endblock %}
