{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Welcome to<br>Softball Outpost{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                ROBUST RECRUITING TOOLS AND RESOURCES FOR YOUR FAMILY{% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}What is Softball Outpost?{% endblocktrans %}</h2>
			<p class="lead">
			Each U.S. university and college sets its own admission standards and decides which applicants meet those standards. 
			</p>
            <p class="lead">
                {% blocktrans %}
                With <b>Softball Outpost</b> resource library at your fingertips, 
                you won't ever feel lost about where you stand with college admission requirements or the recruiting process.{% endblocktrans %}
            </p>
            <div class="feature-columns">
                <div>
                    <i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Learn</b> 
                    Get up to speed on the recruiting process.
		    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-university fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Evaluate</b>
                    You can only compete if you know the guidelines. Learn basics here.
		    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Connect</b> 
                    Take the next step.
		    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}
